$light_medium_gray: #e5e5e5;
.table-layout-fix {
    width: 100%;
    height: 590px;
    overflow: auto;
    position: relative;
}
.table-scope{
    height: 590px;
    width: 100%;
    overflow: hidden;
}
.table-layout {
    width: 100%;
    .is-hidden{
        visibility:hidden;
    }
    table {
        width: 100%;
        td {
            text-align: center;
            height: 36px;
            line-height: 36px;
            padding: 0 17px 0 5px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            //max-width:400px;
            // border-bottom: 2px solid $border-color;
        }
        .table_fix--width {
            display: block;
            max-width: 160px;
            margin: auto;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    .table-fixed {
        //display:inline-block;
        background: #fff;
        width: auto;
        top: 0px;
        position: absolute;
    }
    .table-fixed-main {
        @extend .table-fixed;
        position:relative;
        z-index:99;
        right: 0px;
    }
    .table-fixed-left {
        @extend .table-fixed;
        z-index:100;
        left: 0px;
    }
    .table-fixed-right {
        @extend .table-fixed;
        z-index:100;
        right: 0px;
    }
    thead{
        // position: relative;
        // width: calc(100% - 17px);
        background-color: $light_medium_gray;
        top: 0px;
        //position: absolute;
        //position: relative;
        &::before {
            content: '';
            display: block;
            height: 36px;
            width: 17px;
            position: absolute;
            top: 0;
            right: 2px;
            background-color: $light_medium_gray;
        }
        td {
            //@include title_text;
        }
        tr {
            width: 100%;
            background-color: $light_medium_gray;
            .sort {
                display: inline-block;
                vertical-align: middle;
                position: relative;
                left: 3px;
                top: -2px;
                i.fa {
                    display: block;
                    &.fa-caret-up {
                        position: absolute;
                        bottom: -3.5px;
                    }
                    &.fa-caret-down {
                        position: absolute;
                        top: -3.5px;
                    }
                }
            }
            .sort-click{
                font-weight: bold;
                cursor: pointer;
                text-decoration: underline;
                color: #428BCA;
            }
        }
        tr:first-of-type {
            // display: table;
            width: 100%;
        }
        tr:nth-of-type(2) {
            //width: 100% !important;
            position:absolute;
            top:0px;
            z-index:100;
            //width: 100%;
            //display:none;
        }
    }
    tfoot{
        background-color: $light_medium_gray;
        position: relative;
        td {
            //@include title_text;
        }
        tr {
            width: 100%;
            background-color: $light_medium_gray;
        }
        tr:first-of-type {
            width: 100%;
            visibility: hidden;
        }
        tr:nth-of-type(2) {
            position: absolute;
            bottom: 0px;
            z-index: 100;
        }
    }
    tbody {
        position: relative;
        > tr {
            width: 100%;
            border-bottom: 1px solid #f9f9f9;
            transition: all .2s ease;
            &:nth-of-type(odd) {
                //background-color: $cus_focus;
            }
            /*&.trigger:hover {
                background-color: $cus_gray_normal;
                transition: all .2s ease;
            }*/
            &.trigger{
                //background-color: $cus_gray_normal;
                transition: all .2s ease;
                background-color: #2196f363;
            }
        }
        .longlength {
            width: 180px;
        }
        .noData {
            z-index:99;
            border-bottom: none;
            background-color: transparent !important;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translateX(-50%);
            &:hover {
                background-color: transparent !important;
            }
        }
    }
    &.report_fix_title {
        position: absolute;
    }
    /*@include rwd_min-width(1920px) {
    }*/
}

.table_width_fixed {
    width: 100px;
    max-width: 100px;
}